body,
input,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebecf0;
}

.app_container {
  border-radius: 40px;
  background: #ebecf0;
  box-shadow: 32px 32px 64px #a7a8aa, -32px -32px 64px #ffffff;
  max-width: 300px;
  min-height: 400px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.app_container button {
  margin-top: 10px;
}

input {
  margin-top: 10px;
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 40px;
}

input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px#FFF;
}

h2 {
  color: #61677c;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 40px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}

button {
  color: #61677c;
  font-weight: bold;
  width: 100%;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.app_tip {
  margin-top: 16px;
  color: #61677c;
}
